.form{
    // width: 1440px;
    width: 100vw;
    height: 110px;
    background-color: #FFBF43;

}
.loockfor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Student{
    width: 195px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px;
}
.sity{
width: 637px;
height: 70px;
background: #FFFFFF;
border-radius: 4px;
Top: 120px;
Left: 340px;
Radius: 4px;
Blend: Pass through;
margin-right: 10px;
margin-top: 20px;
}
.btn{
    width: 150px;
    height: 70px;
    background-color: #EF454E;
    margin-right: 10px;
    margin-top: 20px;
}
.Filter{
    width: 150px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px;
}