.form{
    height: 110px;
    background-color: #FFBF43;
}

.loockfor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Student{
    padding-left: 15px;
    width: 195px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px;
    border: none;
}

.sity{
padding-left: 15px;
width: 637px;
height: 70px;
background: #FFFFFF;
border-radius: 4px;
Top: 120px;
Left: 340px;
margin-right: 10px;
margin-top: 20px;
border: none;
}
@media screen and (min-width: 320px){
.sity{
        width: 560px;
    }
}
@media screen and (min-width: 768px){
.sity{
        width: 560px;
    }
}
@media screen and (min-width: 1220px){
.sity{
        width: 525px;
    }
}
@media screen and (min-width: 320px){
.loockfor{
        margin-left: -108px;
    }
}
.btn{
    border-radius: 4px;
    width: 150px;
    height: 70px;
    background-color: #EF454E;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
}
.btn:hover{
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    color: #fff;
 }
 .Student{
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    cursor: pointer;
 }
 .sity{
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    border: none;
 }
 input {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    }
.Filter{
    padding-left: 10px;
    width: 150px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px;
    border: none;
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    cursor: pointer;
}
.Filter::before{
    content: url('../images/icons.svg/filter.svg')
}
.new-sity:hover{
color: #EF454E;
}

.new-sity{
    cursor: pointer;
}
.save{
    cursor: pointer;
}
.subscribe{
    cursor: pointer;
}

@media screen and (min-width: 320px){
.form{
        height: 220px;
    }
.loockfor{
    display: flex;
    flex-direction: column;
    }
.Student{
    margin-right: -113px;
    height: 30px;
    }
.sity{
    height: 30px;
    margin-right: -105px;
    width: 300px;
    }
.btn{
    height: 35px;
    margin-right: -108px;
    }
.Filter{
    height: 30px;
    margin-right: -114px;
    }
}

@media screen and (min-width: 1220px){
.form{
    height: 135px;
    display: flex;
    }
.loockfor{
    padding-left: 210px;
    display: flex;
    flex-direction: initial;
    }
.Student{
    margin-right: 10px;
    height: 70px;
    }
.sity{
    height: 70px;
    margin-right: 10px;
    width: 560px;
    }
.btn{
    height: 70px;
    margin-right: 10px;
    }
.Filter{
    height: 70px;
    padding-right: 10px;
    }
}
@media screen and (min-width: 1440px){
.form{
    height: 150px;
    }
.loockfor{
    display: flex;
    padding-left: 332px;
    }
.Student{
margin-right: 10px;
height: 70px;
    }
.sity{
    height: 70px;
    margin-right: 10px;
    }
.btn{
    height: 70px;
    margin-right: 10px;
    }
.Filter{
    height: 70px;
    padding-right: 10px;
    }
       }     