.form{
    width: 100vw;
    height: 110px;
    background-color: #FFBF43;

}
.loockfor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Student{
    padding-left: 15px;
    width: 195px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px;
    border: none;
}
.sity{
    padding-left: 15px;
width: 637px;
height: 70px;
background: #FFFFFF;
border-radius: 4px;
Top: 120px;
Left: 340px;
margin-right: 10px;
margin-top: 20px;
border: none;
}
.btn{
    border-radius: 4px;
    width: 150px;
    height: 70px;
    background-color: #EF454E;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    border: none;
}
.btn:hover{
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    color: #fff;
 }
.Filter{
    padding-left: 10px;
    width: 150px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px;
    border: none;
}
.Filter::before{
    content: url('../images/icons.svg/filter.svg')
}
.new-sity:hover{
color: #EF454E;
}
// .fa{
//    visibility: hidden;
// }
.new-sity{
    cursor: pointer;
}
.save{
    cursor: pointer;
}
.subscribe{
    cursor: pointer;
}
.btn{
    cursor: pointer;
}
.Filter{
    cursor: pointer;
}
.Student{
    cursor: pointer;
}