@media screen and (min-width: 1440px){
.top{
    width: 1520px;
    }
}
@media screen and (min-width: 1220px){
.header {
    position: relative;
    height: 100px;
    background-color:  #FFFFFF;
  }

.header__nav {
    margin-left: 180px;
    padding-top: 0;
    display: flex;
}
}

@media screen and (min-width: 768px){
.header {
    position: relative;
    height: 100px;
    background-color:  #FFFFFF;
      }
    
.header__nav {
    padding-top: 0;
    display: flex;
    }
    }
@media screen and (min-width: 1440px){
.header__nav {
    margin-left: 260px;
    padding-top: 0px;
    display: flex;
        }
        }
@media screen and (min-width: 320px){
.header-menu {
    display: flex;
}
}

@media screen and (min-width: 320px){
.header-list {
    padding-left: -150px;
    justify-content: center;
    align-items: center;
        }
        }
@media screen and (min-width: 768px){
.header-list {
    padding-left: -36px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    }
@media screen and (min-width: 1220px){
.header-list {
    padding-left: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
        }
        }
@media screen and (min-width: 1440px){
.header-list {
    padding-left: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
                    }
            }
.header-list__item {
    margin-right: 40px;
    list-style: none;
   
}
.header-list__link {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2E2E38;
    text-decoration: none;
}

.header-list__item::backdrop{
    content: '';
    position: absolute;
    margin-top: 30px;
    left: 0;
    display: block;
    width: 50px;
    height: 4px;
    background-color: red;
    margin-bottom: -2px;
    border-radius: 2px;
}
@media screen and (min-width: 1200px){
.header__logo {
    margin-right: 38px;
    padding-top: 30px;
    margin-bottom: 0;
}
}

.header-list__link-one{
    // margin-right: 40px;
    list-style: none;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2E2E38;
    text-decoration: none;
}
.header-list__link-one::after{
    content: url('../images/icons.svg/loupe.svg');
    padding-left: 5px;
}


@media screen and (min-width: 320px){
    .header-menu::before{
        content: url('../images/icons.svg/logot.svg');
        padding-left: 30px; 
        display: none;
    }
    }
@media screen and (min-width: 768px){
    .header-menu::before{
        content: url('../images/icons.svg/logot.svg');
        display: flex;
    }
    }
    
.header-list__link-two{
   list-style: none;
   font-family: Work Sans;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
   color: #2E2E38;
   text-decoration: none;
}
.header-list__link-two::after{
    content: url('../images/icons.svg/vec.svg');
    padding-left: 5px;
}

.header-list__link-three{
    list-style: none;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2E2E38;
    text-decoration: none;
}
@media screen and (min-width: 320px){
.header-list__link-two:hover:before {
    content: '';
    position: absolute;
    margin-top: -36px;
    left: 652px;
    display: block;
    width: 90px;
    height: 4px;
    background-color: #EF454E;   
    margin-bottom: -2px;
    border-radius: 1px;
    }
    
.header-list__link-three:hover:before {
    content: '';
    position: absolute;
    margin-top: -36px;
    left: 786px;
    display: block;
    width: 90px;
    height: 4px;
    background-color: #EF454E;;
    margin-bottom: -2px;
    border-radius: 1px;
    }
.header-list__link:hover:before {
    content: '';
    position: absolute;
    margin-top: -36px;
    left: 925px;
    display: block;
    width: 50px;
    height: 4px;
    background-color: #EF454E;;
    margin-bottom: -2px;
    border-radius: 1px;
    }
.header-list__link-one:hover:before {
    content: '';
    position: absolute;
    margin-top: -36px;
    left: 995px;
    display: block;
    width: 70px;
    height: 4px;
    background-color: #EF454E;;
    margin-bottom: -2px;
    border-radius: 1px;
    }
}
.header-list__link-three::after{
    content: url('../images/icons.svg/vec.svg');
    padding-left: 5px;
}




@media screen and (min-width: 768px){
.header-list__link-one:hover{
    color: #EF454E;
    text-shadow: 1px 1px 2px #EF454E;
    }
.header-list__link-two:hover{
    color: #EF454E;
    text-shadow: 1px 1px 2px #EF454E;
    }
.header-list__link:hover{
    color: #EF454E;
    text-shadow: 1px 1px 2px #EF454E;
    }
.header-list__link-three:hover{
    color: #EF454E;
    text-shadow: 1px 1px 2px #EF454E;
    }
.header-list__link-one{
    margin-right: 5px;
    }
.header-list__link-two{
    margin-right: 5px;
    } 
.header-list__link-three{
    margin-right: 5px;
    }
.header-list__link{
    margin-right: 5px;
    }
.header-list__item{
    margin-right: 0;
    }
.header{
        height: 50px ;
    }
}
@media screen and (min-width: 1220px){
.header-list__link-one{
        margin-right: 15px;
    }
.header-list__link-two{
        margin-right: 15px;
    } 
.header-list__link-three{
        margin-right: 15px;
    }
.header-list__link{
        margin-right: 15px;
    }
.header-list__item{
        margin-right: 0;
    }
.header{
        height: 50px ;
    }
}
@media screen and (min-width: 1440px){
.header-list__link-two{
        margin-right: 15px;
    }
.header-list__link-three{
        margin-right: 15px;
    }
.header-list__link{
        margin-right: 15px;
    }
.header-list__link-one{
        margin-right: 15px;
        margin-left: 8px;
    }
.header-list__item {
     margin-right: -7px;
    }
.header{
        height: 100px ;
    }
.header-menu {
        padding-top: 20px;
    }
}
@media screen and (min-width: 320px){
.header-list__link-two:hover:before {
            left: 40px;
            margin-top: 17px;
        }
.header-list__link-three:hover:before {
            left: 39px;
            margin-top: 17px;
        }
.header-list__link-one:hover:before {
            left: 40px;
            margin-top: 17px;
            
        }
.header-list__link:hover:before{
    margin-top:  17px;
            left: 39px;
            // display: block;
        }
    }
@media screen and (min-width: 768px){
.header-list__link-two:hover:before {
        left: 372px;
        margin-top:  17px;
    }
.header-list__link-three:hover:before {
        left: 481px;
        margin-top:  17px;
    }
.header-list__link-one:hover:before {
        left: 626px;
        margin-top:  17px;
       
    }
.header-list__link:hover:before{
        left: 582px;
        margin-top:  17px;
    }
}
@media screen and (min-width: 1220px){
.header-list__link-two:hover:before {
        left: 658px;
       
    }
.header-list__link-three:hover:before {
        left: 776px;
       
    }
.header-list__link-one:hover:before {
        left: 942px;
       
    }
.header-list__link:hover:before{
        left: 901px;
    }
}
@media screen and (min-width: 1440px){
.header-list__link-two:hover:before {
        left: 825px;
        margin-top:  -35px;
    }
.header-list__link-three:hover:before {
        left: 943px;
        margin-top:  -35px;
    }
.header-list__link-one:hover:before {
        left: 1108px;
        margin-top:  -35px;
    }
.header-list__link:hover:before{
        left: 1055px;
        margin-top:  -35px;
    }
}
