#modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    display: none;
    // max-height: calc(100vh - 210px);
    max-height: calc(150vh - 210px);
    // overflow-y: auto;
    overflow-x: hidden;
    overflow-y: auto;
    // overflow-y: hidden;
}
body.no-scroll {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
 }
.container{
    justify-content: center;
    position:absolute;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    // overflow:scroll;
    margin: 0vh 25vw;
    width: 700px;
    // height: 1176px;
    overflow: hidden;
    padding-left: 100px;
    background: white;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    
}
.container .closeModal{
    position: absolute;
    right: 15px;
    top: 15px;
}
.modalContent{
    display: none;
}
.wrapper{
    width: 600px;
    margin: 100px auto;
}
.wrapper h2{
    text-align: center;
    color: white;
    background: rga(0, 29, 38);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.innerModal{
    width: 700px;
    height: 1176px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}


// модал
.title{
    margin: 0;
    padding-left: 95px;
    font-size: 21px;
    line-height: 1.45;
    text-align: center;
    color: #000000;
    display: block;
    width: 500px;
}
.innerModal{
    width: 700px;
    height: 1176px;
}
.account{
    margin-bottom: 20px;
    display: flex;
}
.already{
    margin: 0;
    padding-left: 135px;
    font-size: 20px;
    line-height: 1.6;
    // text-align: center;
    color: #000000;
    display: block;
    // width: 300px;
}
.log{
    padding-left: 8px;
    margin: 0;

    font-size: 20px;
    line-height: 1.6;
    // text-align: center;
    color: #EF454E;
    display: block;
    width: 300px;
}
.am{
    font-size: 16px;
    line-height: 1.17;
    color: #000000;
    margin-top: 0;
    width: 550px;
    text-align: center;
}
.radio{
    margin-left: 145px;
    margin-bottom: 10px;
}
.para{
padding-right: 10px;
}
.register-form{
    margin-left: 135px;
    display: table-caption;
}
.forma-modal{
    background-color: #f6f7fb;
    border: 0;
    // border-radius: 30px;
    height: 52px;
    margin-top: 5px;
    // padding-left: 20px;
    font-size: 12px;
    line-height: 14px;
    width: 360px;
    border: none;
}
.sub{
font-size: 16px;
line-height: 19px;
color: #000000;
padding-left: 135px;
}
.checkbox{
    padding-left: 135px;
}
.weekly{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-weight: 300;
    margin-top: 0;
    margin-left: 15px;

}
.how{
    margin-top: 0;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 400;
    padding-left: 135px;
}
.clicking{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-weight: 400;
    padding-left: 135px;
}
.terms{
    font-size: 14px;
    line-height: 16px;
    color: #EF454E;
    font-weight: 400;
    padding-left: 5px;
}
.mdn{
    display: flex;
}
.button{
    width: 360px;
    height: 70px;
    background: #EF454E;
    border-radius: 4px;
    border: none;
    margin-left: 135px;
    color: #FFFFFF;
    transition: all .3s ease-out;
}
body.modal{
    overflow:hidden;
 }
 .button:hover{
    // transform: rotate(20deg);
    // transform: skewY(20deg);
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    color: #fff;
 }
 .subscribe:hover{
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    color: #fff;
 }
 .top{
     z-index: 1;
 }
 body{
    width: 100vw;
 }