.up-btn-wrapper {
    position: fixed;
    bottom: 39px;
    right: 10px;
    z-index: 10;
    color: red;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    // padding: 0;
    // clip: rect(0 0 0 0);
    // overflow: hidden;
}
.up-btn-wrapper img:hover {
    background: rgba(169,212,218,.288);
    box-shadow: 0 0 10px #0f0f0f, 0 16px 20px #EF454E;
}
.up-btn-wrapper img {
    right: 25px;
    padding: 0;
    bottom: 165px;
    position: fixed;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    scroll-behavior: smooth;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    // padding: 0;
    // clip: rect(0 0 0 0);
    // overflow: hidden;
}