   
@media screen and (min-width: 320px){
    .section{
    height: 1921px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 190px;
    padding-right: 295px;
    margin-left: auto;
    margin-right: auto;
    }
}
@media screen and (min-width: 768px){
    .section{
    padding-left: 160px;
    }
}
@media screen and (min-width: 1220px){
    .section{
    padding-left: 180px;
    }    
}
@media screen and (min-width: 1440px){
    .section{
    padding-left: 550px;
    }   
}
.section-one{
    // width: 850px;
    // height: 180px;
    border: none;
    border-bottom: 1px solid #C4C4C4;
}


.section-one:hover{
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
}
.new-sity{
    weight: 500;
    color: #000000;
    font-size: 18px;
    line-height: 1.16;
    font-family: "Work Sans" , sans-serif;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
}
.new-sity :hover{
    color: #EF454E;
  
}
.new-one{
    color: #000000;
    font-size: 19px;
    line-height: 1.16;
    font-family: "Work Sans" , sans-serif;
    font-weight: 500;
    margin: 0;
    padding-bottom: 11px;
}
.new-two{
    color: #000000;
    font-size: 19px;
    line-height: 1.16;
    font-family: "Work Sans" , sans-serif;
    font-weight: 300;
    margin: 0;
}
.new-three{
    margin: 0; 
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 6px;
}
.new-four{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.amout{
    display: flex;
}
.amout-one{
    padding-top: 40px;
}
.save{
    width: 80px;
    height: 40px;
    background: #F3F3F3;
    border-radius: 4px;
    margin-left: 92px;
    margin-top: 70px;
    border: none;
}
.results{
    color: #000000;
    font-size: 16px;
    line-height: 2;
    font-family: "Work Sans" , sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-left: 70px;
}
@media screen and (min-width: 1440px){
.results{
    margin-left: -140px;
    } 
}
.amount{
    color: #606060;
    font-weight: 300;
    font-family: "Work Sans" , sans-serif;
    line-height: 19;
    font-size: 16px;
}
.icon{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 85px;
    height: 85px;
    justify-content: center;
    display: flex;
    margin-top: 42px;
    margin-left: 40px;
}
.icon-one{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 85px;
    height: 85px;
    justify-content: center;
    display: flex;
    margin-top: 42px;
    margin-left: 40px;
}
.icon-one::after{
    content: url('../images/icons.svg/money.svg');
    margin-right: 35px;
    margin-top: 21px;
  }
  @media screen and (min-width: 320px){
    .details{
    color: #EF454E;
    font-size: 16px;
    line-height: 2;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-left: 70px;
    text-decoration: underline;
    cursor: pointer;
    }
  }
 
  @media screen and (min-width: 1220px){
    .details{
    font-weight: 300;
    }
  }
  @media screen and (min-width: 1440px){
    .details{
    width: 100vw;
    color: #EF454E;
    font-size: 16px;
    line-height: 2;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-left: -200px;
    text-decoration: underline;
    cursor: pointer;
    }
  }
#text{
   margin-left: 100px;
}
.details::after{
  content: url('../images/icons.svg/strila.svg')
}
  .save::before{
    content: url('../images/icons.svg/heart.svg');
    padding-right: 8px;
  }
  .icon:before{
    content: url('../images/icons.svg/amount.svg');
    margin-left: 35px;
    margin-top: 25px;
  }
.save:hover{
    box-shadow: 3px -3px 0px #EF454E;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    color: #EF454E;
 }
 @media screen and (min-width: 320px){
    .section{
        padding-right: 11px;
        padding-left: 0;
    }
    .results{
        margin-left: 20px;
    }
    .amout {
        display: flex;
        flex-direction: column;
    }
    .icon{
        margin-left: 110px;
    }
    .amout-one {
        padding-top: 34px;
        padding-left: 0;
    }
    .tablet{
        padding-left: 6px;
    }
    .save{
        width: 110px;
    }
    .icon-one{
        margin-left: 110px;
    }
    .details{
        padding-top: 5px;
        margin-left: 5px;
    }
 }
 @media screen and (min-width: 480px){
    .section{
        padding-right: 11px;
        padding-left: 0;
    }
    .results{
        margin-left: 20px;
    }
    .amout {
        display: flex;
        flex-direction: column;
    }
    .icon{
        margin-left: 195px;
    }
    .amout-one {
        padding-top: 34px;
        padding-left: 7px;
    }
    .tablet{
        padding-left: 6px;
    }
    .save{
        width: 292px;
    }
    .icon-one{
        margin-left: 110px;
    }
    .details{
        padding-top: 5px;
        margin-left: 5px;
    }
 }
 @media screen and (min-width: 768px){
    .section{
        padding-right: 11px;
        padding-left: 0;
    }
    .results{
        margin-left: 132px;
    }
    .amout {
        display: flex;
        flex-direction: column;
    }
    .icon{
        margin-left: 311px;
    }
    .amout-one {
        padding-top: 34px;
        padding-left: 135px;
    }
    .tablet{
        padding-left: 6px;
    }
    .save{
        width: 104px;
        margin-left: 307px;
    }
    .icon-one{
        margin-left: 311px;
    }
    .details{
        padding-top: 5px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1220px){
    .section{
        padding-right: 195px;
        padding-left: 190px;
    }
    .results{
        margin-left: 70px;
    }
    .section-one{
        margin-left: -28px;
        height: 180px;
        width: 850px;
    }
    .amout {
       display: flex;
       // flex-direction: column;
       flex-direction: row;
   }
   .icon{
       margin-left: 40px;
   }
   .amout-one {
       padding-top: 34px;
       padding-left: 10px;
   }
   .save{
       width: 120px;
       margin-left: 115px;
   }
   .icon-one{
       margin-left: 40px;
       padding-left: 5px;
   }
   .details{
       padding-top: 50px;
       margin-left: 70px;
   }
}
@media screen and (min-width: 1440px){
     .section{
         padding-right: 195px;
         padding-left: 190px;
     }
     .results{
         margin-left: 160px;
     }
     .section-one{
         margin-left: 150px;
         height: 180px;
         width: 850px;
     }
     .amout {
        display: flex;
    }
    .icon{
        margin-left: 40px;
    }
    .amout-one {
        padding-top: 34px;
    }
    .save{
        width: 80px;
    }
    .icon-one{
        margin-left: 40px;
    }
    .details{
        padding-top: 50px;
        margin-left: 160px;
    }
}
