<div class="footer">
<ul>
    <li>
        <p>College Admissions | Financial Aid | Campus Life | SCHOLARSHIP SEARCH</p>
        <ul>
            <li class="team-link">
                <a href="">
                  <svg class="team-svg" width="44" height="44">
                    <use href=""></use>
                  </svg>
                </a>
              </li>
            <li class="team-link>
                <a href="">
                    <svg class="team-svg" width="44" height="44">
                      <use href=""></use>
                    </svg>
                  </a>
            </li>
            <li class="team-link">
                <a href="">
                  <svg class="team-svg" width="44" height="44">
                    <use href="./images/icon-facebook"></use>
                  </svg>
                </a>
              </li>
        </ul>
    </li>
    <li class="team-link"></li>
</ul>
</div>