<div class="footer">
  <div class="one">
<ul>
    <li  class="foter-one">
        <p class="college">College Admissions | Financial Aid | Campus Life | SCHOLARSHIP SEARCH</p>
        <div class="social-share">
          <a href="https://uk-ua.facebook.com/" target="blank" class="facebook social">
            <i class="fa fa-facebook"></i>
          </a>
          
          <a href="https://help.pinterest.com/uk/article/log-in-and-out-of-pinterest" target="blank" class="pinterest social">
            <i class="fa fa-pinterest"></i>
          
          </a>
          <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D" target="blank" class="twitter social">
            <i class="fa fa-twitter"></i>
           
          </a>
          
          
        </div>
    </li>
    <li class="team-link"></li>
</ul>
</div>

<div class="text">
  <div class="formik">

    <p class="text-footer">A weekly newsletter to show you how 
    to apply to college and pay for it like a 
    boss. Already in college? You'll get 
    good stuff to help with selecting a 
    major, study tips, side hustle and more.
  </p>
  <form class="js-speaker-form">
             
    <div class="association">
        <input type="email" name="email" id="email"  placeholder="   Your email address" class="tabl"/>
        <button type="submit" class="subscribe">Subscribe
          <svg width="24px" height="24px" class="strila">
              <use href=""></use>
          </svg>
      </button>
      </form>
    </div>
  

</div>
</div>