<div class="form">
    <div class="loockfor">
        <div class="choose-form">
            <select class="Student" name="student" id="student">
              <option class="student" value="" disabled selected hidden>
                Type of Student
              </option>
            </select>
          </div>
        <label class="label_sity" htmlFor="sity">
            <input
                name="sity"
                placeholder="New York"
                type="sity"
                class="sity"
            />
        </label>
            <button class="btn" onClick={onClick} type={type}>
                search
            </button>
            <div class="choose-form">
                <select class="Filter" name="Filter" id="Filter">
                  <option class="Filter" value="" disabled selected hidden>
                    Filter By
                  </option>
                </select>
              </div>
    </div>
</div>