
<div class="modalContent" id="cont1">
    <h3 class="title">You must be a user to view this content...</h3>
    <div class="account">
        <p class="already">Already have an account?</p>
        <a class="log" rel="noopener noreferrer" href="#log ">Log in here </a>
    </div>
    <p class="am">I AM A:    </p>
    <div class="radio">
        <input type="radio" id="contactChoice1"
         name="contact" value="student">
        <label class='para' for="contactChoice1">Student</label>
    
        <input type="radio" id="contactChoice2"
         name="contact" value="parent">
        <label class='para' for="contactChoice2">Parent</label>
    
        <input type="radio" id="contactChoice3"
         name="contact" value="counselor">
        <label class='para' for="contactChoice3">Counselor</label>

        <input type="radio" id="contactChoice3"
         name="contact" value="other">
        <label class='para' for="contactChoice3">Other</label>
      </div>
      <div>
     <form class="register-form">
        <label class="forma-modal">
            <input
              type="text"
              name="name"
              placeholder="First Name"
              class="forma-modal"
              required
            />
          </label>
          <label class="forma-modal">
          <input
          type="text"
          name="name"
          placeholder="Last Name"
          class="forma-modal"
        
          required
        />
      </label>
      <labe class="forma-modal">
          <input
      type="text"
      name="name"
      placeholder="Email Address"
      class="forma-modal"

      required
    />
  </label>
  <label class="forma-modal">
  <input
  type="text"
  name="name"
  placeholder="Password"
  class="forma-modal"
 
  required
/>
</label>
<label class="forma-modal">
<input
type="text"
name="name"
placeholder="Confirm Password"
class="forma-modal"
required
/>
</label>
<label class="forma-modal">
<input
type="text"
name="name"
placeholder="School"
class="forma-modal"
required
/>
</label>
<label class="forma-modal">
<input
type="text"
name="name"
placeholder="Current Grade/Year in School"
class="forma-modal"

required
/>
</label>
     </form>
    </div>
    <p class="sub">SUBSCRIBE:</p>
    <div class="checkbox">
        <input type="checkbox" id="scholarship plus" name="scales"
               checked>
        <label for="scales">Scholarship Plus
        </label>
        <p class="weekly">A weekly newsletter with scholarship <br>
            updates and news.</p>
      </div>
      
      <div class="checkbox">
        <input type="checkbox" id="college plus" name="horns">
        <label for="horns">College Plus</label>
        <p class="weekly">A monthly newsletter with all the latest <br>
            in college admissions news, including strategies <br>
            for success in college.</p>
      </div>
      <p class="how">HOW DID YOU HEAR ABOUT US:</p>
      <form class="register-form">
        <label class="forma-modal">
            <input
              type="text"
              name="name"
              placeholder="Online search"
              aria-label="Input for your name"
              class="forma-modal"
              required
            />
          </label>
         
     </form>
     <div class="mdn">
         <p class="clicking">By clicking "Join," I agree to the</p>
         <p class="terms">Terms & Conditions</p>
     </div>
     <button class="button" type="button">Join</button>
</div>











<div id="modal">
    <div class="container">
        <i class="fa fa-close closeModal"></i>
        <div id="innerModal"></div>
    </div>
</div>