
<div class="modalContent" id="cont1">
    <h3 class="title">You must be a user to view this content...</h3>
    <div class="account">
        <p class="already">Already have an account?</p>
        <a class="log" rel="noopener noreferrer" href="#log ">Log in here </a>
    </div>
    <p class="am">I AM A:    </p>
    <div class="radio">
        <label class="wrap-radio-btn" for="Student">
            <input type="radio"  id="Student"  name='radio'>
            <span class="icon-smile-sad"></span>
            <span class='para'>Student</span>
          </label>
          <label class="wrap-radio-btn" for="Parent">
            <input type="radio"  id="Parent" name='radio' >
            <span class="icon-smile"></span>
            <span class='para'>Parent</span>
          </label>
          <label class="wrap-radio-btn" for="Counselor">
            <input type="radio"  id="Counselor"  name='radio'>
            <span class="icon-smile-sad"></span>
            <span class='para'>Counselor</span>
          </label>
          <label class="wrap-radio-btn" for="Other">
            <input type="radio"  id="Other"  name='radio' >
            <span class="icon-smile"></span>
            <span class='para'>Other</span>
          </label>
      </div>
      <div>
     <form class="register-form">
        <label class="forma-modal">
            <input
              type="text"
              name="name"
              pattern="^[a-zA-Z]+$"
              title="fill in this field correctly"
              placeholder="  First Name"
              class="forma-modal"
              required
            />
          </label>
          <label class="forma-modal">
          <input
          type="text"
          name="name"
          pattern="^[a-zA-Z]+$"
          title="fill in this field correctly"
          placeholder="  Last Name"
          class="forma-modal"
        
          required
        />
      </label>
      <labe class="forma-modal">
          <input
      type="text"
      name="name"
      pattern="^[a-zA-Z0-9]\@+$"
      title="fill in this field correctly"
      placeholder="  Email Address"
      class="forma-modal"

      required
    />
  </label>
  <label class="forma-modal">
  <input
  type="number"
  pattern="[0-9]{10}"
  title="fill in this field correctly"
  name="name"
  placeholder="  Password"
  class="forma-modal"
 
  required
/>
</label>
<label class="forma-modal">
<input
type="number"
pattern="[0-9]{10}"
title="fill in this field correctly"
name="name"
placeholder="  Confirm Password"
class="forma-modal"
required
/>
</label>
<label class="forma-modal">
<input
type="text"
name="name"
pattern="^[a-zA-Z]+$"
title="fill in this field correctly"
placeholder="  School"
class="forma-modal"
required
/>
</label>
<label class="forma-modal">
<input
type="text"
name="name"
pattern="^[a-zA-Z]+$"
title="fill in this field correctly"
placeholder="  Current Grade/Year in School"
class="forma-modal"

required
/>
</label>
     </form>
    </div>
    <p class="sub">SUBSCRIBE:</p>
    <div class="checkbox">
        <input type="checkbox" id="scholarship plus" name="scales"
               checked>
        <label for="scales">Scholarship Plus
        </label>
        <p class="weekly">A weekly newsletter with scholarship <br>
            updates and news.</p>
      </div>
      
      <div class="checkbox">
        <input type="checkbox" id="college plus" name="horns">
        <label for="horns">College Plus</label>
        <p class="weekly">A monthly newsletter with all the latest <br>
            in college admissions news, including strategies <br>
            for success in college.</p>
      </div>
      <p class="how">HOW DID YOU HEAR ABOUT US:</p>
      <form class="register-form">
        <label class="forma-modal">
            <input
              type="text"
              name="name"
              pattern="^[a-zA-Z]+$"
              placeholder="  Online search"
              
              aria-label="Input for your name"
              class="forma-modal"
              required
            />
          </label>
         
     </form>
     <div class="mdn">
         <p class="clicking">By clicking "Join," I agree to the</p>
         <p class="terms">Terms & Conditions</p>
     </div>
     <button class="button" type="submit">Join</button>
</div>








<script>
    function updateButtonState(){
      var submitButton = document.querySelector('button[type="submit"]');
      var selectedRadioButton = document.querySelector('input[name="radio-value"]:checked');
      submitButton.disabled = selectedRadioButton.value != '5';
    }
    updateButtonState();
  </script>


<div id="modal">
    <div class="container">
        <i class="fa fa-close closeModal"></i>
        <div id="innerModal"></div>
    </div>
</div>