<div class="section">
    <p class="results">Showing 1 to 5 of 22 results</p>
    <ul class="tablet">
        <li class="section-one">
            <div class="amout">
                <div class="icon">
                    <a href="" class="link-client">
                        <svg class="batton-client" width="40" height="52">
                            <use href=""></use>
                        </svg>
                    </a>
        </div>
            <ul class="amout-one">
                <li><p class="new-sity">New York Financial Writers' Associations Scholarships</p></li>
                <li><p class="new-two">New York Financial Writers Association</p></li>
                <li><p class="new-three">Amount: Varies</p></li>
                <li><p class="new-four">Deadline: 4/15</p></li>
            </ul>
            <button class="save" type="button">Save</button>
        </div>
        </li>
        <li class="section-one">
        <div class="amout">
            <div class="amout">
                <div class="icon">
                    <a href="" class="link-client">
                        <svg class="batton-client" width="40" height="52">
                            <use href=""></use>
                        </svg>
                    </a>
        </div>
            <ul class="amout-one">
                <li><p class="new-sity">New York Financial Writers' Associations Scholarships</p></li>
                <li><p class="new-two">New York Financial Writers Association</p></li>
                <li><p class="new-three">Amount: Varies</p></li>
                <li><p class="new-four">Deadline: 4/15</p></li>
            </ul>
            <button class="save" type="button">Save</button>
        </div>
        </li>
        <li class="section-one">
        <div class="amout">
            <div class="amout">
                <div class="icon-one">
                    <a href="" class="link-client">
                        <svg class="batton-client" width="40" height="52">
                            <use href=""></use>
                        </svg>
                    </a>
        </div>
            <ul class="amout-one">
                <li><p class="new-sity">New York Financial Writers' Associations Scholarships</p></li>
                <li><p class="new-two">New York Financial Writers Association</p></li>
                <li><p class="new-three">Amount: Varies</p></li>
                <li><p class="new-four">Deadline: 4/15</p></li>
            </ul>
            <button class="save" type="button">Save</button>
        </div>
        </li>
        <li class="section-one">
        <div class="amout">
            <div class="amout">
                <div class="icon">
                    <a href="" class="link-client">
                        <svg class="batton-client" width="40" height="52">
                            <use href=""></use>
                        </svg>
                    </a>
        </div>
            <ul class="amout-one">
                <li><p class="new-sity">New York Financial Writers' Associations Scholarships</p></li>
                <li><p class="new-two">New York Financial Writers Association</p></li>
                <li><p class="new-three">Amount: Varies</p></li>
                <li><p class="new-four">Deadline: 4/15</p></li>
            </ul>
            <button class="save" type="button">Save</button>
        </div>
        </li>
    </ul>
    <p class="details">Create a free account to access your full list of scholarships and to see more details </p>
    
    
</div>